<div class="container">
  <div class="col">
    <div class="flex bg-light">
      <div class="row align-items-center">
        <h1 class="flex grow-1">Gymbuds</h1>
        <ng-container *ngIf="(user$ | async)?.data.user as user; else notLoggedIn">
          <div class="flex">Hello, {{user.username}}</div>
          <div class="flex">
            <button (click)="logout()">logout</button>
          </div>
        </ng-container>
        <ng-template #notLoggedIn>
          <div class="flex">
            <button>login</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="flex">
        <h3>Create an account</h3>
      </div>
      <label class="flex">
        <p>Username</p>
        <input type="text" [(ngModel)]="accountInputs.username">
      </label>
      <label class="flex">
        Password
        <input type="password" [(ngModel)]="accountInputs.password">
      </label>
      <label class="flex">
        Confirm Password
        <input type="password" [(ngModel)]="accountInputs.password">
      </label>
      <button (click)="createAccount()">Create</button>
      <button (click)="logIn()">Login</button>
    </div>
  </div>
</div>
