<div class="container">
  <div class="col">
    <div class="flex bg-light">
      <div class="row align-items-center">
        <h1 class="flex grow-1">Gymbuds</h1>
        <div class="flex">
          <ng-container *ngIf="(user$ | async)?.data.user; else notLoggedIn">
            <button (click)="logout()">logout</button>
          </ng-container>
          <ng-template #notLoggedIn>
            <button>login</button>
          </ng-template>
        </div>
        <div class="flex">
          <div [ngStyle]="{background: (user$ | async)?.data.user ? '#0f0' : '#f00', width: '20px', height: '20px'}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="flex">
        <h3>Create an account</h3>
      </div>
      <label class="flex">
        <input type="text" [(ngModel)]="accountInputs.username" placeholder="username...">
      </label>
      <label class="flex">
        <input type="password" [(ngModel)]="accountInputs.password" placeholder="password...">
      </label>
      <button (click)="createAccount()">Create</button>
      <button (click)="logIn()">Login</button>
    </div>
  </div>
</div>
