<div class="row">
  <div class="flex" *ngIf="reservations$ | async as reservations">
    <p>Current Reservations: {{reservations.data.reservations.length}}</p>
    <div class="col">
      <div *ngFor="let res of reservations.data.reservations" class="flex">
        <p>Made By: {{res.username}}</p>
        <p>Time: {{res.time | date:'MMM d, h:mm a'}}</p>
        <p>Location: {{res.location}}</p>
        <p *ngIf="res.message">Message: {{res.message}}</p>
        <button *ngIf="res.userId === (user$ | async)?.data.user.userId" mat-button color="accent"
                (click)="deleteReservation(res.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
