<div class="container">
  <div class="row align-items-center bg-primary py-2">
    <span class="flex-grow title">Gymbuds</span>
    <ng-container *ngIf="(user$ | async)?.data.user as user">
      <span class="flex">Hello, {{user.username}}</span>
      <div class="flex">
        <button mat-stroked-button (click)="logout()">logout</button>
      </div>
    </ng-container>
  </div>
  <div class="row" style="box-shadow: 0 2px 6px rgba(0,0,0,.3)">
    <div class="flex-grow"></div>
    <div class="flex">
      <button mat-button>reservations</button>
      <button mat-button>friends</button>
      <button mat-button>settings</button>
    </div>
  </div>
</div>

