.row {
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.row, .col {
  display: flex;
  margin: 0 -16px;
}

.row .flex, .col .flex {
  padding: 0 16px;
}

.col .flex {
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.grow-1 {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}
