@mixin small-screen-style() {
  @media screen and (max-width: 768px) {
    @content();
  }
}

.row {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.row, .col {
  display: flex;
  margin: 0 -12px;
}

%flex {
  padding: 0 12px;
}

.flex {
  @extend %flex;
  flex: 0 0 auto;

  &-grow, &-grow-r {
    @extend %flex;
    flex: 1 1 0;
    min-width: 1px;
  }

  &-full {
    @extend %flex;
    flex: 1 0 100%;
    max-width: 100%;
  }

  &-third, &-third-r {
    @extend %flex;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }


}

.col .flex {
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.grow-1 {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.d-flex {
  display: flex;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

@include small-screen-style {
  %flex {
    padding: 0 12px;
  }

  .flex {
    @extend %flex;

    &-grow-r {
      @extend %flex;
      flex: 1 1 100%;
      max-width: 100%;
    }
    &-third-r {
      @extend %flex;
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}
