@import '~@angular/material/theming';
@include mat-core();

$web-ui-primary: mat-palette($mat-indigo);
$web-ui-accent: mat-palette($mat-pink, A200, A100, A400);
$web-ui-warn: mat-palette($mat-red);
$web-ui-theme: mat-light-theme($web-ui-primary, $web-ui-accent, $web-ui-warn);
@include angular-material-theme($web-ui-theme);

@import "./styles/flex";
@import "styles/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container, .content-container {
  width: 100%;
  padding: 0 12px;
}

.content-container {
  max-width: 1000px;
  margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.text-center {
  text-align: center;
}

@each $color, $value in $colors {
  .bg-#{$color} {
    background: $value;
  }
}

@each $size, $value in $spacings {
  .m-#{$size} {
    margin: $value;
  }
  .mt-#{$size} {
    margin-top: $value;
  }
  .mr-#{$size} {
    margin-right: $value;
  }
  .ml-#{$size} {
    margin-left: $value;
  }
  .mb-#{$size} {
    margin-bottom: $value !important;
  }
  .my-#{$size} {
    margin-top: $value;
    margin-bottom: $value;
  }
  .mx-#{$size} {
    margin-left: $value;
    margin-right: $value;
  }

  .p-#{$size} {
    padding: $value;
  }
  .pt-#{$size} {
    padding-top: $value;
  }
  .pr-#{$size} {
    padding-right: $value;
  }
  .pl-#{$size} {
    padding-left: $value;
  }
  .pb-#{$size} {
    padding-bottom: $value;
  }
  .py-#{$size} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .px-#{$size} {
    padding-left: $value;
    padding-right: $value;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
