@import "./styles/flex";
@import "styles/variables";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 16px;
}

@each $color, $value in $colors {
  .bg-#{$color} {
    background: $value;
  }
}
